.booking-container {
	margin-top: 4rem;
	margin-bottom: 4rem;
	.steps-content {
		width: 100%;
		// height: 100%;
		margin-top: 25px;
		border: 1px dashed #e9e9e9;
		border-radius: 6px;
		background-color: #fafafa;
		min-height: 200px;
		text-align: center;
		padding: 50px;
		padding-top: 25px;
		margin-bottom: 25px;
	}

	.steps-action {
		margin-top: 5px;
	}

	.booking-list-container {
		.myCard {
			// padding: 25px;
			margin-bottom: 25px;
		}

		margin-top: 30px;
	}
}
