.picker-container {
	width: 100%;
	text-align: center;

	.picker-button-group {
		display: inline-flex;
		margin-top: 5rem;
	}

	button {
		margin: 40px;
	}
}

.vertical-border {
	border-left: 1px solid rgb(155, 155, 155);
	height: 25rem;
}
