.dashboard-container {
	padding-top: 2rem;
	width: 100%;
	height: 100%;
	.summary-cont {
		text-align: center;
		padding-top: 2rem;
		.image-cont {
			margin-top: 2rem;
			width: 20rem;
			height: 20rem;
			border: 1px solid #222;
			border-radius: 100%;
			border: 0px;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 2.5px 25px 0.125px rgba(0, 0, 0, 0.25);
			margin-bottom: 20px;

			.icon-cont {
				padding-bottom: 75px;
			}
			img {
				max-width: 100%;
				position: relative;
				height: auto;
				border-radius: 100%;
				top: 2px;
			}
		}
	}

	.dashboard-button {
		cursor: pointer;
		margin: 15px;
		padding: 15px;
		word-wrap: break-word;
		word-break: break-all;
		width: 15rem;
		height: 15rem;
		border-radius: 15px;
		border: 0px;
		box-shadow: 0px 2.5px 25px 0.125px rgba(0, 0, 0, 0.15);
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	}
	.dashboard-button:hover {
		box-shadow: 0px 4.5px 25px 0.125px rgba(0, 0, 0, 0.2);
	}
}
