nav {
  a {
    color: #d6dee7;
  }
  a:hover {
    color: #d6dee7;
    text-decoration: none;
  }

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-brand {
  font-weight: bold;
}
