.myInput {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.myLabel {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.myInputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.myInputElement:focus {
	outline: none;
	background-color: #ccc;
}
