.notFoundContainer {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: center;
  text-align: center;

  .nf-title {
    color: #e1e1e1;
    font-size: 10.5rem;
  }

  .nf-caption {
    color: #717171;
  }
}
