.ps-wrapper {
	padding: 0px 100px;
	position: relative;
	/* top: 4rem; */

	.ps-content {
		position: relative;
		top: -15px;
		padding: 25px;
		// box-shadow: 0px 20px 40px 0.125px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 15px 40px 0.125px rgba(0, 0, 0, 0.1);
		border-radius: 18px;
		border: none;
		/* height: 250px; */
		/* width: 100%; */
		.ps-text {
			.freelancer-type {
				color: #b5adf8;
			}
			text-align: center;
			margin-top: 10px;
			h3 {
				margin: 0px;
			}
			.freelancer-stats {
				.helper-text {
					font-size: 13px;
				}
				i {
					color: #b5adf8;
					position: relative;
					left: -5px;
					top: -5px;
				}
				span {
					font-size: 24px;
				}
				.completed {
					padding: 0px 25px;
					float: left;
					// text-align: right;
				}
				.favs {
					padding: 0px 25px;
					// text-align: left;
				}
			}
		}
	}
	.ps-image {
		position: relative;
		border-radius: 100%;
		border: none;
		box-shadow: 0px 20px 40px 0.125px rgba(0, 0, 0, 0.02);
		img {
			max-width: 100%;
			height: auto;
			border-radius: 100%;
		}
	}
}
