.profile-container {
	margin-top: 2rem;

	.schedule {
		text-align: center;
		padding: 30px 15px;
		border: 1px solid rgba(34, 34, 34, 0.125);
		border-radius: 15px;
		border-top-left-radius: 0px;
		width: 100%;
		height: 100%;

		.section-title {
		}
	}
}
