.search-container {
  margin-top: 4rem;
  .filter-container {
    padding: 30px 15px;
    border: 1px solid rgba(34, 34, 34, 0.7);
    border-radius: 15px;
    border-top-left-radius: 0px;
    // box-shadow: 0px 2.5px 25px 0.125px rgba(0, 0, 0, 0.25);
  }
}
