.result-box {
	width: 100%;
	height: 150px;
	margin-bottom: 15px;
	padding: 15px 25px;
	border-radius: 10px;
	box-shadow: 0px 2.5px 25px 0.125px rgba(169, 169, 169, 0.15);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	background: white;
	cursor: pointer;
	display: inline-flex;
	// color: #222;

	.result-avatar {
		// flex-grow: 2;
		// border-radius: 100%;
		// height: inherit;
		margin-right: 25px;
		img {
			height: 7rem;
			border-radius: 100%;
		}
	}

	.result-price {
		position: absolute;
		right: 15px;
	}
}

.result-box:hover {
	box-shadow: 0px 4.5px 25px 0.125px rgba(0, 0, 0, 0.2);
}
