.upload-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;

	.upload-button {
		border-radius: 100%;
		height: 6rem;
		width: 6rem;
	}

	.upload-component {
		height: 4rem;
		width: 4rem;
		border-radius: 100%;
		border: 0px;
	}
}
