.welcome-search-box {
	margin-top: 10rem;
	width: 100%;
	font-family: 'Unna';
	.app-tagline {
		color: #c3c3c3;
		font-weight: bold;
		font-size: 4rem;
	}
	.sub-tagline {
		color: #fff;
	}

	.select-tagline {
		color: #c3c3c3;
		margin: 10px 0px;
		// font-weight: bold;
	}
	.welcome-select {
		padding: 8px;
		background: #ffffff3d;
		border: none;
		border-radius: 15px;
	}
}

.welcome-nav {
	ul.navbar-nav {
		li:first-child {
			margin: 0px 25px;
		}
	}
}
