@import './components/style/Custom.scss';

html {
	height: 100%;
	width: 100%;
}

html > body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif !important;
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	//   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	//   sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #222;
}

#root {
	height: 100%;
	width: 100%;
}

main {
	// padding-top: 56px;
	// padding-top: 56px;
	height: calc(100% - 56px);
	width: 100%;
	// padding-bottom: 40px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
